.colRow{
  /* background transparency white 0.7 and effect cristal apple */
  background: rgba(233, 156, 84, 0.6);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
  background-blend-mode: overlay;
  max-width: 45% !important;
  margin: 5px auto;
  /* border */
  border: 1px solid #ccc;
  /* border-radius */
  border-radius: 10px;
  /* box-shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* padding */
  padding: 20px;
  /* margin */


    
}
.searchHeight{
  max-height: 480px;
}
/* media query mobile and tablet*/
@media only screen and (max-width: 768px) {
  .colRow{
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    max-width: 100% !important;
    background-color: white;
    position: relative;
    display: block;
  }
  .colRow:nth-child(even){
    margin-bottom: 60px !important;
    
  }
  .searchHeight{
    max-height: 240px;
  }
  .row{
    margin: 0 !important;
    margin-bottom: 150px !important;
  }
}
/* contairner-fluid backgroud graduate to right red orange */