/* li Round item with trash   */
.todo-item {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  background: rgb(240, 222, 197);
  border-radius: 3px;
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background 0.2s ease-out;
  list-style: none;
  cursor: pointer;

}
.trasIconRight{
  position: absolute;
  right: 10px;
  top: -25%;
  cursor: pointer;
  color: brown;
}
.completed{
  text-decoration: line-through;
  background: rgb(255, 99, 71);
  color: #ccc;
}
.not-completed{
  background: rgb(144, 238, 144);
  color: rgb(2, 61, 14);
}
